[submodule "lttng/tools"]
	path = lttng/tools
	url = https://github.com/flatzo/lttng-tools.git
[submodule "lttng/liburcu"]
	path = lttng/liburcu
	url = https://github.com/flatzo/liburcu.git
[submodule "deps/popt"]
	path = deps/popt
	url = https://github.com/flatzo/popt.git
[submodule "deps/e2fsprogs"]
	path = deps/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
