[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "userspace-rcu"]
	path = userspace-rcu
	url = git://git.urcu.so/userspace-rcu.git
	branch = stable-0.8
[submodule "lttng-tools"]
	path = lttng-tools
	url = git@github.com:flatzo/lttng-tools.git
	branch = android
[submodule "popt"]
	path = popt
	url = git://github.com/flatzo/popt.git
[submodule "libxml2"]
	path = libxml2
	url = git://git.gnome.org/libxml2
	branch = master
[submodule "lttng-ust"]
	path = lttng-ust
	url = git@github.com:flatzo/lttng-ust.git
	branch = master
[submodule "lttng-modules"]
	path = lttng-modules
	url = git://git.lttng.org/lttng-modules.git
